{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block title %}
    Вхід
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="/static/grosland/grosland.login.css" type="text/css">
{% endblock link %}

{% block content %}
    <form class="login-form" action="{{ url_for_security('login') }}{{ prop_next() }}" method="post" name="login_user_form">
        {{ login_user_form.hidden_tag() }}

        <p class="login-text">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-lock fa-stack-1x"></i>
            </span>
        </p>

        <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" name="email"/>

        <div class="fs-gap">
            <input type="password" class="login-password" required="true" placeholder="Password" name="password"/>
        </div>

        {{ render_field_errors(login_user_form.csrf_token) }}

        <input type="submit" value="Login" class="login-submit" name="submit"/>
    </form>

    <div class="underlay-photo"></div>
    <div class="underlay-black"></div>

    {% if security.webauthn %}
        <hr class="fs-gap">
        <h2>{{ _fsdomain("Use WebAuthn to Sign In") }}</h2>
        <div>
            <form method="get" id="wan_signin_form" name="wan_signin_form">
                <input id="wan_signin" name="wan_signin" type="submit" value="{{ _fsdomain('Sign in with WebAuthn') }}" formaction="{{ url_for_security('wan_signin') }}{{ prop_next() }}">
            </form>
        </div>
    {% endif %}

    {% if security.oauthglue %}
        <hr class="fs-gap">
        <h2>{{ _fsdomain("Use Social Oauth to Sign In") }}</h2>
        {% for provider in security.oauthglue.provider_names %}
            <div class="fs-gap">
                <form method="post" id="{{ provider }}_form" name="{{ provider }}_form">
                    <input id="{{ provider }}" name="{{ provider }}" type="submit" value="{{ _fsdomain('Sign in with ')~provider }}" formaction="{{ url_for_security('oauthstart', name=provider) }}{{ prop_next() }}">
                    {% if csrf_token is defined %}
                        <input id="{{ provider }}_csrf_token" name="{{ provider }}_csrf_token" type="hidden" value="{{ csrf_token() }}">
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    {% endif %}

    {% include "security/_menu.html" %}
{% endblock content %}