{% extends "base.html" %}

{% block title %}
    ASCM map
{% endblock title %}

{% block link %}
    <!--  Leaflet  -->
    <link href="/static/leaflet/leaflet.css" rel="stylesheet">
    <script src="/static/leaflet/leaflet.js" defer></script>

    <!--  Leaflet Vector Grid  -->
    <script src="/static/vectorgrid/leaflet.vectorgrid.mins.js" defer></script>

    <!--  Restore View  -->
    <script src="/static/restoreview/leaflet.restoreview.js" defer></script>

    <!--  Locate  -->
    <link href="/static/locate/leaflet.locate.min.css" rel="stylesheet">
    <script src="/static/locate/leaflet.locate.min.js" defer></script>

    <!--  CSS style  -->
    <style>
        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #navbar {
            height: 8%;
        }
        #input {
            width: 20%;
            min-width: 250px;
            max-width: 250px;
        }
        #map {
            width: 100%;
            height: 92%;
            position: relative;
            cursor: auto;
        }
    </style>
{% endblock link %}

{% block content %}
    <!--  Navbar  -->
    {% include 'navbar.html' %}

    <!--  Map  -->
    <div id="map"></div>
{% endblock %}

{% block script %}
    <!--  My .js  -->
    <script src="/static/grosland/grosland.leaflet.ascm_map.js"defer></script>
{% endblock %}