<!DOCTYPE HTML>
<html lang="uk">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!--  Title  -->
    <title>
        Grosland &mdash; {% block title %}{% endblock %}
    </title>

    <!--  Favicon  -->
    <link rel="icon" href="/static/grosland/images/favicon.png" type="Image/x-icon" >

    <!--  Link  -->
    {% block link %}{% endblock %}
  </head>

  <body>
    <!--  Content  -->
    {% block content %}{% endblock %}
  </body>

    <!--  Script  -->
    {% block script %}{% endblock %}
</html>