{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block link %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 95%;
        }
        .full-height {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .content {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            text-align: center;
        }
        .button {
            background-color: #000000;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 5px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #333333;
        }
    </style>
{% endblock link %}

{% block content %}
    <!--  Navbar  -->
    {% include 'navbar.html' %}

    <div class="full-height">
        <div class="content">
            <div class="container">
                <a class="button" href="{{ url_for('cadastral_map.index') }}">Cadastral map</a>
                <a class="button" href="{{ url_for('ascm_map.index') }}">ASCM map</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}{% endblock %}
