{% extends "base.html" %}

{% block title %}
    Карта
{% endblock title %}

{% block link %}
    <!--  Leaflet  -->
    <link rel="stylesheet" href="/static/leaflet/leaflet.css">
    <script src="/static/leaflet/leaflet.js"></script>

    <!--  Jquery  -->
    <script src="/static/jquery/jquery.3.7.1.min.js"></script>
    <script src="/static/jquery/jquery.ajax.min.js"></script>
    <script src="/static/jquery/jquery.maskedinput.min.js"></script>

    <!--  My .css  -->
    <link rel="stylesheet" href="/static/grosland/grosland.main.css" type="text/css">

    <!--  Leaflet Vector Grid  -->
    <script src="/static/vectorgrid/leaflet.vectorgrid.mins.js"></script>
{% endblock link %}

{% block content %}
    <!--  Field for input cadastral number  -->
    <form id="input">
      <input type="text" id="cadnum" placeholder="__________:__:___:____">
    </form>

    <!--  Map -->
    <div id="map"></div>
{% endblock %}

{% block script %}
    <!--  My .js  -->
    <script src="/static/grosland/grosland.leaflet.map.js"></script>
    <script src="/static/grosland/grosland.jquery.maskedinput.cadnum.js"></script>
{% endblock %}