html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    height: 8%;
}

#input {
    width: 20%;
    min-width: 250px;
}

#map {
    width: 100%;
    height: 92%;
    position: relative;
    cursor: auto;
}
