html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#navbar {
    height: 8%;
}

#input {
    width: 20%;
    min-width: 250px;
    max-width: 250px;
}

#map {
    width: 100%;
    height: 92%;
    position: relative;
    cursor: auto;
}

.custom-layers-control {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 140px;
}

.custom-layers-control label {
    display: block;
    margin-bottom: 5px;

}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px;
    margin-bottom: 5px;
}

.accordion.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
}
